<%- include('heading') %>

    <body>

        <%- include('nav') %>

            <div class="mt-[7.8rem]">
                <div class="relative w-8/12 mx-auto mb-10 xl:mb-[7rem] xl:w-6/12 2xl:w-5/12">
                    <!-- yellowbg -->
                    <div class="bg-gray-200 absolute shadow-xl -right-4 -bottom-4 h-full w-full rounded-xl shadow-xl">
                    </div>
                    <div class="p-8 relative bg-gray-800 text-justify text-gray-200 rounded-xl block">
                        <h2 class="pb-4 italic text-3xl text-center font-bold">About Maktab Sharif
                        </h2>
                        <p>Maktab Sharif is a Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Voluptatum a
                            eveniet quidem quibusdam doloremque omnis itaque aut placeat nulla. Et veritatis dignissimos
                            dolorem eius optio ut, doloremque animi sapiente ratione?
                            Sit iste quos enim sint dolorem ad rem vitae, et beatae veritatis delectus corrupti eveniet
                            officia aut culpa optio illum nulla facere magnam dolore doloremque! Cumque doloribus nihil
                            placeat sed.<br>
                            Qui, a beatae. Placeat facere ab sed. Consectetur eligendi minus non eaque magni libero
                            aperiam placeat tempora? Hic error ducimus, corporis, nobis officiis perferendis alias
                            asperiores sint odit consequuntur esse!<br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse vitae, voluptas quisquam
                            possimus in illum distinctio odio? Officiis perferendis ex soluta vitae deserunt? Aut,
                            repellat impedit? Beatae doloribus nobis autem?
                            Qui dicta, omnis, quos ex aspernatur perferendis incidunt magni illum voluptatibus, et
                            recusandae veniam nihil reprehenderit?
                            <br>Fugit, dignissimos illum optio eius iusto
                            necessitatibus, aliquid perspiciatis quas facilis in earum corporis!
                            Sequi quae velit, ad ipsum facilis fuga pariatur vitae corrupti quia eius quidem?
                            <br><br> Ullam quia
                            dicta provident praesentium pariatur vel, et dolorum obcaecati magni minima nostrum quasi
                            sunt maiores velit.
                            Quia incidunt quod sunt libero repellat?Quisquam, dolorum quidem ab amet nihil recusandae
                            alias corrupti labore eos rem? Minus quas aliquid repellendus quam perspiciatis pariatur
                            fuga exercitationem alias aliquam dicta.
                        </p>
                        <div class="pt-4 px-8">
                            <p class="italic text-xs">Email: maktabSharif@fakemail.com</p>
                            <p class="italic text-xs">Phone: 021-88664422</p>
                            <p class="italic text-xs">Address: 25th-Bahar St-Azadi Blvr</p>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('footer') %>
    </body>
    <script src="javascripts/main.js"></script>

    </html>