<footer class="bg-black h-64 w-full text-white">
    <div class="flex flex-col text-center space-y-2">
        <img class="w-16 mt-8 m-auto" src="images/logo_small.png" alt="">
        <p class="text-yellow-300 text-lg italic font-bold tracking-tighter">Maktab Sharif</p>
        <p class="text-xs text-gray-200">Where you can get the knowledge to make your dreams a reality!</p>
    </div>
    <div class="border-t border-gray-800 mt-8 text-xs text-gray-30">
        <div class="flex w-50 space-x-8 content-center pl-16">
            <div class="mt-4 hover:text-white transition duration-300"><a href="/">Home</a></div>
            <div class="mt-4 hover:text-white transition duration-300"><a href="/about">About</a></div>
            <div class="mt-4 hover:text-white transition duration-300"><a href="/contact">Contact</a></div>
            <div class="mt-4 hover:text-white transition duration-300"><a href="/login">Login</a></div>
            <div class="mt-4 hover:text-white transition duration-300"><a href="/signup">Signup</a></div>
        </div>
    </div>
</footer>